<form action="${app.base_url + 'input_upload'}" method="post"
      enctype="multipart/form-data">
  <div class="action">
    <h3>Upload Data</h3>
    <p>
      Upload your own volumic file to use as the algorithm input.
    </p>
<p>The uploaded file should be a NIFTI1 file (.nii) and the maximal size of the input point set is 50 Mo.</p>
<p>
    <div class="upload_input">
      <label for="file">volumic file</label>
      <input type="file" name="file_0" id="file_0" size="40" accept=".nii" />&nbsp;
      <input type="submit" value="upload" />
    </div>
<br/>
  </div>
</form>

