<%include file="header-jquery.html" />
<script type="text/javascript">
<%include file="js/createlinkedslider.js" />
</script>

<form action="${app.base_url + 'wait'}" method="get">
  <input type="hidden" name="key" value="${app.key}">
<div class="action">



  <p>1. Select the <font color=blue>method</font> to test:
    <input type="hidden" name="key" value="${app.key}">
    <SELECT id="methodSelect" name="methodname">
      <OPTION>Antiga</OPTION>
      <OPTION>Jerman</OPTION>
      <OPTION>Meijering</OPTION>
      <OPTION>OOF</OPTION>
      <OPTION>RORPO</OPTION>
      <OPTION>RuiZhang</OPTION>
      <OPTION>Sato</OPTION>
   </SELECT>
  </p>
    %if not app.cfg['meta']['original'] :
  <p>  Method computed with: 
    %endif
    <SELECT id="masktype" name="masktype"
          %if app.cfg['meta']['original'] :
          style="display:none;          
            %endif
          >
       <OPTION value="nomask" >No mask</OPTION>
        <OPTION value="livermask">Liver mask (for IRCAD only)</OPTION>
        <OPTION value="dilatedmask">Dilated vessel mask</OPTION>
       <OPTION value="bifurcation"> Bifurcation vessel mask</OPTION>
      </SELECT>

  </p>
  <div id="paramNonRORPO"> 
<p>
 2. Set the common scale parameters: 
</p>

<ul> 

<li>
    
 <!-- code for slider:  SIGMA MIN -->
                    <div style="float:left;padding-right:25px">
                    <label for="sigmamin"> <font color=blue><i>sigma min</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="sigmamin" name="sigmamin" value="3.0" />
                    </div>
                    <div id="sigmamin_slider" name="sigmamin_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to sigmamin
                    $(document).ready(function() {
                          createLinkedSlider('#sigmamin', '#sigmamin_slider', 0, 10, 0.1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>

  <li> 
 <!-- code for slider:  SIGMA MAX -->
                    <div style="float:left;padding-right:25px">
                    <label for="sigmamax"> <font color=blue><i>sigma max</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="sigmamax" name="sigmamax" value="5.0" />
                    </div>
                    <div id="sigmamax_slider" name="sigmamax_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#sigmamax', '#sigmamax_slider', 0, 10, 0.1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>


  <li> 
 <!-- code for slider:  NB STEPS -->
                    <div style="float:left;padding-right:25px">
                    <label for="steps"> <font color=blue><i>steps</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="steps" name="steps" value="2" />
                    </div>
                    <div id="steps_slider" name="steps_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#steps', '#steps_slider', 1, 10, 1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>

</ul>



  </div>

</p>


<div id="paramAntiga">
<hr>
  <p>
3. Set the additional parameters used in Antiga:
</p>
<ul>
  <li> 
 <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="alpha"> <font color=blue><i>alpha</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="alpha" name="alpha" value="0.5" />
                    </div>
                    <div id="alpha_slider" name="alpha_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#alpha', '#alpha_slider', 0.001, 10, 0.1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>
  <li> 
 <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="beta"> <font color=blue><i>beta</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="beta" name="beta" value="1.0" />
                    </div>
                    <div id="beta_slider" name="beta_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#beta', '#beta_slider', 0.001, 10, 0.1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>

    <li> 
 <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="gamma"> <font color=blue><i>gamma</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="gamma" name="gamma" value="10.0" />
                    </div>
                    <div id="gamma_slider" name="gamma_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#gamma', '#gamma_slider', 0, 40, 0.1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>
</ul>
</div>
<div id="paramJerman" style="display:none;">
<hr>
  <p>
3.  Set the additional parameters used in Jerman and RuiZhang:
</p>


  <ul>
    <li> 
 <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="tau"> <font color=blue><i>tau</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="tau" name="tau" value="0.74" />
                    </div>
                    <div id="tau_slider" name="tau_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#tau', '#tau_slider', 0, 1, 0.05);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>

  </ul>

</div>

<div id="paramOOF" style="display:none;">
<hr>
  <p>
3.  Set the additional parameters used for OOF:
</p>

<ul>
<li>
    <!-- code for slider sigma -->
    <div style="float:left;padding-right:25px">
      <label for="sigmaoof"> <font color=blue><i>sigmaOOF</i></font>:</label>
      <input type="text" style="font-family:monospace;text-align:right"
             size="3" id="sigmaoof" name="sigmaoof" value="0.1" />
    </div>
    <div id="sigmaoof_slider" name="sigmaoof_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
      // Turn DIV slider into a slider linked to scale
      $(document).ready(function() {
      createLinkedSlider('#sigmaoof', '#sigmaoof_slider', 0, 1, 0.1 );
      });
    </script>
    <div style="clear:both"> </div>
    <!-- end of code for slider -->
  </li>


</ul>


      </div>
 <div id="paramRORPO" style="display:none;">
<hr>
   <p>
3.  Set the additional parameters used in RORPO:
  </p>


<ul>
  <li>
    <!-- code for slider scaleMin -->
    <div style="float:left;padding-right:25px">
      <label for="scaleminrorpo"> <font color=blue><i>scaleMinRORPO</i></font>:</label>
      <input type="text" style="font-family:monospace;text-align:right"
             size="3" id="scaleminrorpo" name="scaleminrorpo" value="40.0" />
    </div>
    <div id="scaleminrorpo_slider" name="scaleminrorpo_slider" style="width:200px;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
      // Turn DIV slider into a slider linked to scale
      $(document).ready(function() {
      createLinkedSlider('#scaleminrorpo', '#scaleminrorpo_slider', 0, 100, 1 );
      });
    </script>
    <div style="clear:both"> </div>
    <!-- end of code for slider -->
  </li>



    <li>
    <!-- code for slider factor -->
    <div style="float:left;padding-right:25px">
      <label for="factorrorpo"> <font color=blue><i>factorRORPO</i></font>:</label>
      <input type="text" style="font-family:monospace;text-align:right"
             size="3" id="factorrorpo" name="factorrorpo" value="1.5" />
    </div>
    <div id="factorRORPO_slider" name="factorRORPO_slider" style="width:200px;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
      // Turn DIV slider into a slider linked to scale
      $(document).ready(function() {
      createLinkedSlider('#factorrorpo', '#factorRORPO_slider', 0, 100, 1 );
      });
    </script>
    <div style="clear:both"> </div>
    <!-- end of code for slider -->
  </li>


    

  <li>
    <!-- code for slider nbScales -->
    <div style="float:left;padding-right:25px">
      <label for="nbscalerorpo"> <font color=blue><i>nbScaleRORPO</i></font>:</label>
      <input type="text" style="font-family:monospace;text-align:right"
             size="3" id="nbscalerorpo" name="nbscalerorpo" value="4.0" />
    </div>
    <div id="nbScaleRORPO_slider" name="nbScaleRORPO_slider" style="width:200px;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
      // Turn DIV slider into a slider linked to scale
      $(document).ready(function() {
      createLinkedSlider('#nbscalerorpo', '#nbScaleRORPO_slider', 1, 10, 1 );
      });
    </script>
    <div style="clear:both"> </div>
    <!-- end of code for slider -->
  </li>


    <li>
    <!-- code for slider dilatation -->
    <div style="float:left;padding-right:25px">
      <label for="dilatationrorpo"> <font color=blue><i>dilatationRORPO</i></font>:</label>
      <input type="text" style="font-family:monospace;text-align:right"
             size="3" id="dilatationrorpo" name="dilatationrorpo" value="1.0" />
    </div>
    <div id="dilatationRORPO_slider" name="dilatationRORPO_slider" style="width:200px;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
      // Turn DIV slider into a slider linked to scale
      $(document).ready(function() {
      createLinkedSlider('#dilatationrorpo', '#dilatationRORPO_slider', 0, 3, 1 );
      });
    </script>
    <div style="clear:both"> </div>
    <!-- end of code for slider -->
  </li>
</ul>
</div>
<div id="paramSato" style="display:none;">  
<hr>
  <p>
3.  Set the additional parameters used for Sato:
</p>



<ul>

<li>
    <!-- code for slider sigma -->
    <div style="float:left;padding-right:25px">
      <label for="alpha1sato"> <font color=blue><i>alpha1Sato</i></font>:</label>
      <input type="text" style="font-family:monospace;text-align:right"
             size="3" id="alpha1sato" name="alpha1sato" value="0.5" />
    </div>
    <div id="alpha1sato_slider" name="alpha1sato_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
      // Turn DIV slider into a slider linked to scale
      $(document).ready(function() {
      createLinkedSlider('#alpha1sato', '#alpha1sato_slider', 0, 1, 0.1 );
      });
    </script>
    <div style="clear:both"> </div>
    <!-- end of code for slider -->
  </li>
<li>
  
    <!-- code for slider sigma -->
    <div style="float:left;padding-right:25px">
      <label for="alpha2sato"> <font color=blue><i>alpha2sato</i></font>:</label>
      <input type="text" style="font-family:monospace;text-align:right"
             size="3" id="alpha2sato" name="alpha2sato" value="0.5" />
    </div>
    <div id="alpha2sato_slider" name="alpha2sato_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
      // Turn DIV slider into a slider linked to scale
      $(document).ready(function() {
      createLinkedSlider('#alpha2sato', '#alpha2sato_slider', 0, 1, 0.1 );
      });
    </script>
    <div style="clear:both"> </div>
    <!-- end of code for slider -->
  </li>
</ul>
</div>







<p>
  <hr>


  <div id="maskdisplay" style="color:black;" > 
    %if not app.cfg['meta']['original'] :
 4. Customize the display by choosing the mask applied to the result :
%endif
       <SELECT id="inputmaskliverView" name="masktypedisplay"
    %if app.cfg['meta']['original'] :
          style="display:none;          
            %endif

            >
       <OPTION value="nomask" >No mask</OPTION>
        <OPTION  value="livermask" >Liver mask (for IRCAD only)</OPTION>
        <OPTION  style='color: #cccc00' value="dilatedmask">Dilated vessel mask</OPTION>
       <OPTION value="bifurcation"> Bifurcation vessel mask</OPTION>
      </SELECT></div>
</p>







<input type="submit" value="run" />
</div>

                    

</form>

<hr/>

<div>
  <img id="inputall" src="${app.work_url + 'input_0.png'}" alt="${}" width="400"/>
  <img style="display:none;" id="inputmaskliver" src="${app.work_url + 'input_0MaskLiver.png'}" alt="${}" width="400"/>
  <img style="display:none;" id="inputmaskvessel" src="${app.work_url + 'input_0MaskVessel.png'}" alt="${}" width="400"/>
  <img style="display:none;" id="inputmaskbifurcations" src="${app.work_url + 'input_0MaskBifurcations.png'}" alt="${}" width="400"/>

</div>
<script>
  var paramAntiga = document.getElementById("paramAntiga");
  var paramJerman = document.getElementById("paramJerman");
  var paramSato = document.getElementById("paramSato");
  var paramOOF = document.getElementById("paramOOF");
  var paramRORPO = document.getElementById("paramRORPO");
  document.getElementById("masktype").onchange = function(){
  maskdisplay.style.color = (this.selectedIndex  == 0) ? 'black': 'darkred'; 
  optvessel.style.color = (this.selectedIndex  == 0) ? 'black': 'darkred'; 
  }
  document.getElementById("methodSelect").onchange = function(){
  paramAntiga.style.display = (this.selectedIndex == 0) ? "block" : "none";
  paramJerman.style.display = (this.selectedIndex == 5 || this.selectedIndex == 1 ) ? "block" : "none";
  paramOOF.style.display = (this.selectedIndex == 3) ? "block" : "none";
  paramRORPO.style.display = (this.selectedIndex == 4) ? "block" : "none";
  paramNonRORPO.style.display = (this.selectedIndex == 4) ? "none" : "block";
  paramSato.style.display = (this.selectedIndex == 6) ? "block" : "none";
  }
  document.getElementById("inputmaskliverView").onchange = function(){
  inputmaskliver.style.display = (this.selectedIndex==1)? "block" : "none";
  inputmaskvessel.style.display = (this.selectedIndex==2)? "block" : "none";
  inputmaskbifurcations.style.display = (this.selectedIndex==3)? "block" : "none";
  inputall.style.display = (this.selectedIndex==0)? "block" : "none";

  }
</script>
<%include file="footer.html" />
<div class="pagefooter">
<div id="footer">
<ul class="noprint">
<li><a href="https://www.ipol.im/meta/feeds/">feeds &amp; twitter</a></li>
<li><a href="https://www.ipol.im/meta/sitemap/" rel="sitemap">sitemap</a></li>
<li><a href="https://www.ipol.im/meta/contact/">contact</a></li>
<li><a href="https://www.ipol.im/meta/privacy/">privacy policy</a></li>
<li>ISSN:&nbsp;<a href="https://www.worldcat.org/issn/2105-1232">2105-1232</a></li>
<li>DOI:&nbsp;<a href="https://dx.doi.org/10.5201/ipol">10.5201/ipol</a></li>
</ul><br />
<ul>
IPOL and its contributors acknowledge support from September 2010 to August 2015 by
 the European Research Council (advanced grant Twelve Labours n°246961).
</ul><br />
<ul>
IPOL is also supported by ONR grant N00014-14-1-0023, CNES (MISS project), FUI 18 Plein Phare project, and ANR-DGA project ANR-12-ASTR-0035</a>.
</ul><br />
<ul>
IPOL is maintained by <a href="http://www.cmla.ens-cachan.fr/">CMLA</a>, <a href="http://www.ens-cachan.fr/">ENS Cachan</a>, 
<a href="http://dmi.uib.es/">DMI</a>, <a href="http://www.uib.es/">Universitat de les Illes Balears</a>, 
and <a href="http://www.fing.edu.uy/">Fing</a>, <a href="http://www.universidad.edu.uy/">Universidad de la República</a>.
</ul><br />
<ul>
<li><a href="https://www.ipol.im/meta/copyright/"
       rel="copyright">&copy;&nbsp;2009-2015,
    IPOL Image Processing On Line &amp; the authors&nbsp;<img
      src="https://www.ipol.im/static/badges/open-access.png"
      alt="Open Access" />&nbsp;<img
      src="https://www.ipol.im/static/badges/open-source.png"
      alt="Open Source" />&nbsp;<img
      src="https://www.ipol.im/static/badges/open-data.png"
      alt="Open Data" />&nbsp;<img
      src="https://www.ipol.im/static/badges/ipol.png"
      alt="IPOL" /></a></li>
</ul>
</div><!-- #footer -->
</div><!-- .pagefooter -->
