<%include file="header-jquery.html" />
<script type="text/javascript">
<%include file="js/createlinkedslider.js" />
</script>

<form action="${app.base_url + 'wait'}" method="get">
  <input type="hidden" name="key" value="${app.key}">
<div class="action">
<p>
  Set the common scale parameters:
</p>
<ul> 
  <li>
    
 <!-- code for slider:  SIGMA MIN -->
                    <div style="float:left;padding-right:25px">
                    <label for="sigmamin"> <font color=blue><i>sigma min</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="sigmamin" name="sigmamin" value="3.0" />
                    </div>
                    <div id="sigmamin_slider" name="sigmamin_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to sigmamin
                    $(document).ready(function() {
                          createLinkedSlider('#sigmamin', '#sigmamin_slider', 0, 10, 0.1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>

  <li> 
 <!-- code for slider:  SIGMA MAX -->
                    <div style="float:left;padding-right:25px">
                    <label for="sigmamax"> <font color=blue><i>sigma max</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="sigmamax" name="sigmamax" value="5.0" />
                    </div>
                    <div id="sigmamax_slider" name="sigmamax_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#sigmamax', '#sigmamax_slider', 0, 10, 0.1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>


  <li> 
 <!-- code for slider:  NB STEPS -->
                    <div style="float:left;padding-right:25px">
                    <label for="steps"> <font color=blue><i>steps</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="steps" name="steps" value="2" />
                    </div>
                    <div id="steps_slider" name="steps_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#steps', '#steps_slider', 1, 10, 1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>


  <p>
 Set the additional parameters used for Antiga
</p>

  <li> 
 <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="alpha"> <font color=blue><i>alpha</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="alpha" name="alpha" value="0.5" />
                    </div>
                    <div id="alpha_slider" name="alpha_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#alpha', '#alpha_slider', 0.001, 10, 0.1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>
  <li> 
 <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="beta"> <font color=blue><i>beta</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="beta" name="beta" value="1.0" />
                    </div>
                    <div id="beta_slider" name="beta_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#beta', '#beta_slider', 0.001, 10, 0.1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>

    <li> 
 <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="gamma"> <font color=blue><i>gamma</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="gamma" name="gamma" value="10.0" />
                    </div>
                    <div id="gamma_slider" name="gamma_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#gamma', '#gamma_slider', 0, 40, 0.1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>

    
</ul>

  <p>
  Set the additional parameters used for Jerman:
</p>


  <ul>
    <li> 
 <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="tau"> <font color=blue><i>tau</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="tau" name="tau" value="0.74" />
                    </div>
                    <div id="tau_slider" name="tau_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#tau', '#tau_slider', 0, 1, 0.05);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>

  </ul>



<p>
  Set the additional parameters used for RORPO:
</p>


<ul>
  <li>
    <!-- code for slider scaleMin -->
    <div style="float:left;padding-right:25px">
      <label for="scaleMinRORPO"> <font color=blue><i>scaleMinRORPO</i></font>:</label>
      <input type="text" style="font-family:monospace;text-align:right"
             size="3" id="scaleMinRORPO" name="scaleMinRORPO" value="40.0" />
    </div>
    <div id="scaleMinRORPO_slider" name="scaleMinRORPO_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
      // Turn DIV slider into a slider linked to scale
      $(document).ready(function() {
      createLinkedSlider('#scaleMinRORPO', '#scaleMinRORPO_slider', 0, 100, 1 );
      });
    </script>
    <div style="clear:both"> </div>
    <!-- end of code for slider -->
  </li>



    <li>
    <!-- code for slider factor -->
    <div style="float:left;padding-right:25px">
      <label for="factorRORPO"> <font color=blue><i>factorRORPO</i></font>:</label>
      <input type="text" style="font-family:monospace;text-align:right"
             size="3" id="factorRORPO" name="factorRORPO" value="1.5" />
    </div>
    <div id="factorRORPO_slider" name="factorRORPO_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
      // Turn DIV slider into a slider linked to scale
      $(document).ready(function() {
      createLinkedSlider('#factorRORPO', '#factorRORPO_slider', 0, 100, 1 );
      });
    </script>
    <div style="clear:both"> </div>
    <!-- end of code for slider -->
  </li>



  <li>
    <!-- code for slider nbScales -->
    <div style="float:left;padding-right:25px">
      <label for="nbScaleRORPO"> <font color=blue><i>nbScaleRORPO</i></font>:</label>
      <input type="text" style="font-family:monospace;text-align:right"
             size="3" id="nbScaleRORPO" name="nbScaleRORPO" value="4.0" />
    </div>
    <div id="nbScaleRORPO_slider" name="nbScaleRORPO_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
      // Turn DIV slider into a slider linked to scale
      $(document).ready(function() {
      createLinkedSlider('#nbScaleRORPO', '#nbScaleRORPO_slider', 0, 100, 1 );
      });
    </script>
    <div style="clear:both"> </div>
    <!-- end of code for slider -->
  </li>


    <li>
    <!-- code for slider core -->
    <div style="float:left;padding-right:25px">
      <label for="coreRORPO"> <font color=blue><i>coreRORPO</i></font>:</label>
      <input type="text" style="font-family:monospace;text-align:right"
             size="3" id="coreRORPO" name="coreRORPO" value="3.0" />
    </div>
    <div id="coreRORPO_slider" name="coreRORPO_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
      // Turn DIV slider into a slider linked to scale
      $(document).ready(function() {
      createLinkedSlider('#coreRORPO', '#coreRORPO_slider', 0, 10, 1 );
      });
    </script>
    <div style="clear:both"> </div>
    <!-- end of code for slider -->
  </li>
</ul>



<p>
  Set the additional parameters used for OOF:
</p>


<ul>

<li>
    <!-- code for slider sigma -->
    <div style="float:left;padding-right:25px">
      <label for="sigmaOOF"> <font color=blue><i>sigmaOOF</i></font>:</label>
      <input type="text" style="font-family:monospace;text-align:right"
             size="3" id="sigmaOOF" name="sigmaOOF" value="0.1" />
    </div>
    <div id="sigmaOOF_slider" name="sigmaOOF_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
      // Turn DIV slider into a slider linked to scale
      $(document).ready(function() {
      createLinkedSlider('#sigmaOOF', '#sigmaOOF_slider', 0, 1, 0.1 );
      });
    </script>
    <div style="clear:both"> </div>
    <!-- end of code for slider -->
  </li>


</ul>
  


<p>
  Set the additional parameters used for RuiZhang:
</p>

<ul>

  <li>
    <!-- code for slider tau -->
    <div style="float:left;padding-right:25px">
      <label for="tauRuiZhang"> <font color=blue><i>tauRuiZhang</i></font>:</label>
      <input type="text" style="font-family:monospace;text-align:right"
             size="3" id="tauRuiZhang" name="tauRuiZhang" value="0.1" />
    </div>
    <div id="tauRuiZhang_slider" name="tauRuiZhang_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
      // Turn DIV slider into a slider linked to scale
      $(document).ready(function() {
      createLinkedSlider('#tauRuiZhang', '#tauRuiZhang_slider', 0, 1, 0.1 );
      });
    </script>
    <div style="clear:both"> </div>
    <!-- end of code for slider -->
  </li>

  
</ul>

  
<p> You can also set the threshold display parameter: </p>
<ul>
 <li> 
 <!-- code for slider -->
                    <div style="float:left;padding-right:25px">
                    <label for="threshold"> <font color=blue><i>threshold</i></font>:</label>
                     <input type="text" style="font-family:monospace;text-align:right"
                        size="3" id="threshold" name="threshold" value="50.0" />
                    </div>
                    <div id="threshold_slider" name="threshold_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                    <script type="text/javascript">
                    // Turn DIV slider into a slider linked to scale
                    $(document).ready(function() {
                          createLinkedSlider('#threshold', '#threshold_slider', 1, 200, 1);
                    });
                    </script>
                    <div style="clear:both"> </div>
                    <!-- end of code for slider -->
  </li>
</ul>







<input type="submit" value="run" />
</div>

                    

</form>

<hr />

<div>
  <img src="${app.work_url + 'input_0.png'}" alt="${}" width="400"/>
</div>

<%include file="footer.html" />
